@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Newsreader:opsz,wght@6..72,200&family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*Desplazamiento*/
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
}

/*Incio del menu*/
header {
  background-color: #f2f2f2;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li,
.menu a {
  display: inline-block;
}

.menu li {
  position: relative;
  font: 105% system-ui;
}

.menu a {
  text-decoration: none;
  color: #696969;
  display: block;
  padding: 10px 1.5rem;
  transition: background-color 0.22s ease;
}

.menu a:hover {
  /* background-color: #84909c; */
  color: #060606;
  font-weight: 900;
}

.menu a:after {
  content: '';
  position: absolute;
  background-color: #201d1c;
  height: 3px;
  width: 0;
  left: 10px;
  bottom: 5px;
  transition: 0.3s;
}

.menu a:hover:after {
  width: 90%;
}

.submenu {
  position: absolute;
  width: 160px;
  left: 0;
  background-color: #ccc4be;
  display: none;
  transition: text 0.5s ease;
}

.submenu a:hover {
  background-color: #ccc4be;
  color: #060606;
}

.submenu2 a:hover {
  background-color: #ccc4be;
  color: #060606;
}

.submenu2 {
  position: absolute;
  left: 100%;
  width: 160px;
  top: 0;
  background-color: #ccc4be;
  display: none;
}

.texto-submenu-1 {
  width: 160px;
}

.texto-submenu-2 {
  width: 160px;
}

.menu li:hover > .submenu {
  border-radius: 10px;
  display: block;
  animation: slideup 0.3s ease;
}

.submenu li:hover > .submenu2 {
  border-radius: 10px;
  display: block;
  animation: slideleft 0.3s ease;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(18px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.submenuTarea {
  position: absolute;
  width: 160px;
  left: 0;
  background-color: #ccc4be;
  display: none;
  z-index: 3;
  transition: text 0.5s ease;
}

.submenuTarea a {
  text-decoration: none;
  color: #696969;
  display: block;
  padding: 5px 1.5rem;
  transition: background-color 0.22s ease;
}

.menu li:hover > .submenuTarea {
  border-radius: 10px;
  display: block;
  animation: slideup 0.3s ease;
}

.header-main h1 {
  /*Titulo de la pagina*/
  font-size: 70px;
  padding: 20px 0px;
  color: white;
}

.header-main p {
  /*Subtitulo de la pagina*/
  font-size: 30px;
}

.header-main {
  background-image: url('../Imagenes/header.jpg');
  height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/*Fin del menu*/

/*Incio de la lista*/
.info {
  /*Fondo donde estan los datos*/
  background-color: #fff;
  font-family: 'Open sans';
}

/*Titulo de la lista*/

.info-titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: #000000;
  height: 60px;
}

.flex-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.photo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.tabla {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 130px;
  text-align: center;
}

.lista {
  font-size: 30px;
  padding: 30px;
  width: fit-content;
  background-color: #2e2b2b;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -100px auto 0;
}

.lista ul li {
  /*Estilo de la lista*/
  background-color: #a3a3a8;
  padding: 5px;
  margin: 0;
  list-style-type: none;
}

/*Inicio foto transicion*/
.photo article {
  position: relative;
}

article {
  width: 300px;
  transition: all 0.3s ease;
}

article img:first-child {
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

article img:last-child {
  position: absolute;
  width: 300px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
  border-radius: 5px;
}

article:hover {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

article::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0) 95%
  );
  opacity: 0;
  transition: all 0.3s ease;
}

article:hover::before {
  opacity: 1;
}

article:hover img:last-child {
  opacity: 1;
}

.line {
  /*Linea separadora*/
  border-bottom: 5px solid #696969;
}

/*Inicio pie de pagina*/
footer {
  /*Fondo*/
  background-color: #84909c;
  margin-top: auto;
}

.footerContainer {
  /*Tamano*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialIcon {
  /*Iconos*/
  display: flex;
  align-items: center; /* Center the icons horizontally */
  justify-content: center;
  margin-top: 50px;
}

.socialIcon a {
  /*Estilo de circulo afuera de los iconos*/
  text-decoration: none;
  padding: 10px;
  background-color: #f2f2f2;
  margin: 10px;
  border-radius: 50%;
}

.socialIcon a i {
  /*Estilo de los iconos*/
  font-size: 2em;
  color: #000;
  opacity: 0.9;
}

.socialIcon a:hover {
  /*Transicion del circulo del icono*/
  background-color: #000;
  transition: 0.5s;
}

.socialIcon a:hover i {
  /*Transicion del icono*/
  color: #f2f2f2;
  transition: 0.5s;
}

.footerNav {
  /* Separate the footerNav vertically from socialIcon */
  margin-top: 0px;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 50;
  color: #000;
}

.footerBottom {
  background-color: #84909c;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: #fff;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 120px;
  font-size: 18px;
  transition: all 0.5s ease;
}

#myBtn:hover {
  background-color: white;
  color: #000;
  border-radius: 10px;
}
